.parent {
  border: 2px solid black;
  height: 700px;
}

.transform {
  margin: 100px;
  border: 2px solid red;
  height: 200px;
  width: 200px;
transition: all;
transition-duration: 2s;
transition-delay: 1s;
transition-timing-function:linear;
transition-timing-function:ease;
/* slow-start(2) fast end-slow(2.1)(1.9) */
/* transition-timing-function:ease-in; */
/*slow start end fast */


}
.transform:hover {
   transform: translatex(200px); 
  /* transform: translatey(200px); */
  /* transform: perspective(500px) translatez(-200px); */

  
  /* transform: skewX(45deg); */
   /* transform: skewY(45deg); */



   /* transform: rotateX(170deg); */
   /* transform: rotateY(170deg); */
   /* transform: rotateZ(170deg); */
   /* transform:scaleX(2); */
   /* transform:scaleY(2); */
   /* transform: scale(2); */
   /* transform:perspective(200px) rotateY(60deg) scaleZ(2); */


}